body{
   height: 100%;
   background-color: #f6f8fa;
}

.parent{
   display: flex;
}

.right{
   width: 70%;

}
.left{
   width: 30%;
   text-align: center;
}

img{
   border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
   width:  180px;       /* ※縦横を同値に */
   height: 180px;       /* ※縦横を同値に */
}

.white{
   background-color: white;
   border: solid 1px #000000;/*線*/
   border-radius: 10px;/*角の丸み*/
   margin-top: 15px ;
   padding-left: 30px;
   padding-bottom: 20px;

}

.bottom{
   width: 70%;
   margin-left: 40px;


}

.accordion-area{
   list-style: none;
   /* width: 96%; */
   max-width: 900px;
   padding-left:0px;
}

.accordion-area li{
   margin: 0 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }


/*アコーディオンタイトル*/
.title {
   position: relative;/*+マークの位置基準とするためrelative指定*/
   cursor: pointer;
   /* font-size:1rem; */
   /* font-weight: normal; */
   padding: 3% 3% 3% 40px;
   transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
   position: absolute;
   content:'';
   width: 15px;
   height: 2px;
   background-color: #333;

}
.title::before{
   top:48%;
   left: 15px;
   transform: rotate(0deg);

}
.title::after{
   top:48%;
   left: 15px;
   transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.title.close::before{
 transform: rotate(45deg);
}

.title.close::after{
 transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
   display: none;/*はじめは非表示*/
   background: #f3f3f3;
   margin:0 3% 3% 3%;
   padding: 3%;
}
