<!DOCTYPE html>
<html lang="ja">

<head>
   <title>Bootstrap Example</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="lang.css">
</head>

<body>

   <header>C言語の質問</header>
  
   <main>
      <div class="question box2">
         <div class="box">

            <img src="../tomo.jpg" class="img-circle" alt="" width="100" height="100">
            <div>ともや</div>
         </div>

         <div class="panel-group">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a href="#">質問タイトル(ここからリンクに飛ぶ)</a>
                  </h4>
               </div>
               <div id="collapse1" class="panel-collapse ">
                  <div class="panel-body">ここにかんたんな内容：C言語の配列の質問です。、、、</div>
               </div>
            </div>
         </div>
      </div>

      <!-- 繰り返し -->
      <div class="question box2">
         <div class="box">

            <img src="../thr.jpg" class="img-circle" alt="" width="100" height="100">
            <div>やすか</div>
         </div>

         <div class="panel-group">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a href="#">質問タイトル(ここからリンクに飛ぶ)</a>
                  </h4>
               </div>
               <div id="collapse1" class="panel-collapse ">
                  <div class="panel-body">ここにかんたんな内容：Pythonのおすすめの勉強法ありますか？、、、</div>
               </div>
            </div>
         </div>
      </div>
      <div class="question box2">
         <div class="box">

            <img src="../sec.jpg" class="img-circle" alt="" width="100" height="100">
            <div>おかじ</div>
         </div>

         <div class="panel-group">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a href="#">質問タイトル(ここからリンクに飛ぶ)</a>
                  </h4>
               </div>
               <div id="collapse1" class="panel-collapse ">
                  <div class="panel-body">ここにかんたんな内容：Pythonのおすすめの勉強法ありますか？、、、</div>
               </div>
            </div>
         </div>
      </div>





      <div class="page_num">
         <ul class="pagination ">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="active"><a href="#">4</a></li>
            <li><a href="#">5</a></li>
         </ul>

      </div>
   </main>

</body>

</html>